<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <header>
          <p>Mi sitio!</p>
          <nav>
              <ul>
                  <li>
                      <a href="/peliculas/crear">
                          Crear peli
                        </a> 
                    </li>
                    <li>
                        <a href="/peliculas">
                            Ver pelis
                        </a>
                    </li>
              </ul>
          </nav>
      </header>